.footer {
    max-width: 880px;
    margin-top: 67px;
    padding: 0;
}

.footer__copyright {
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 780px){
    .footer {
        max-width: 581px;
        justify-content: center;
    }

    .footer__copyright {
        margin-bottom: 60px;
    }

}

@media screen and (max-width: 480px) {
    .footer {
        justify-self: center;
        margin-top: 0;
        margin-bottom: 36px;
        max-width: 282px;
    }

    .footer__copyright {
        font-size: 18px;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        margin-top: 48px;
        margin-bottom: 36px;
    }

    .footer__copyright {
        font-size: 14px;
        margin-bottom: 0;
    }
}