.footer.page__section {
    margin: 0 auto;
}

.footer {
    max-width: 880px;
    height: 18px;
    padding: 0;
}

.footer__copyright {
    color: #545454;
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.footer.page__section {
    margin-top: 67px;
    margin-bottom: 60px;
}

@media screen and (max-width: 320px) {
    .footer.page__section {
        max-width: 282px;
        margin: 0 auto;
        bottom: 36px;
    }
}

@media screen and (max-width: 480px) {
    .footer.page__section {
        margin-top: 0;
        margin-bottom: 36px;
        justify-self: center;
    }
}