.footer {
    max-width: 880px;
    margin-top: 67px;
    margin-bottom: 60px;
    padding: 0;
}

.footer__copyright {
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    .footer {
        margin-bottom: 36px;
        justify-self: center;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        max-width: 282px;
        margin-bottom: 36px;
        margin-top: 48px;
    }
}