.header {
    border-bottom: 1px #545454 solid;
    margin-bottom: 40px;
}

.header__logo {
    width: 172px;
    height: 33px;
    margin-top: 45px;
    padding-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 282px;
    }

    .header__logo {
        width: 126px;
        height: 24px;
        margin-top: 28px;
        margin-left: 27px;
    }
}

@media screen and (max-width: 480px) {
    .header__logo {
        margin-left: 27px;
    }
}