.header {
    width: 880px;
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.header__logo {
    width: 173px;
    height: 33px;
    margin-top: 45px;
    margin-bottom: 41px;
}

.header__divider {
    width: 880px;
    margin-bottom: 40px;
}

@media screen and (max-width: 320px) {
    .header {
        width: 320px;
        height: 56px;
    }

    .header__logo {
        width: 126px;
        height: 24px;
        margin: 28px 167px 32px 27px;
    }

    .header__divider {
        max-width: 320px;
        margin: 0 auto;
    }
}